<%- include("partials/header"); -%>
    <h1>About The Project</h1>
    <p> I'm a on my way to becoming a Full-stack Web developer <br> this is one of my projects that includes working with Node.js, HTML , CSS/Bootstrap , Databases and EJS </p>
<%- include("partials/footer"); -%>
