<%- include("partials/header"); -%>
    <h1>Contact Me</h1>
    <p>Hey! <br> My name is Morde Yoiris, <br> If you want to contact me then Mail me!</p>
    <a href="mailTo: morde1515@gmail.com"><img class="mail" src="../gmail.png" alt=""></a>
<%- include("partials/footer"); -%>
